body {
	background-color: #EEEEEE !important;
}
header {
	height: 0.88rem;
	background-color: #323943;
	display: flex;
	justify-content: space-around;
}
header .back {
	position: absolute;
	left: 0.14rem;
}
header i.fa-arrow-left {
	font-size: 0.5rem;
	color: #fff;
	line-height: 0.88rem;
}
header .nav1 {
	display: flex;
	justify-content: space-between;
}
header .nav1 li {
	width: 2rem;
	display: flex;
	align-items: center;
}
header .nav1 li a {
	text-align: center;
	color: #FFFFFF;
	font-size: 0.35rem;
}
header .nav1 li a:hover {
	color: #00c7a6;
	cursor: pointer;
}

.sec1_1{
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-around;
}
.sec1_left{
	margin:0.3rem 0.2rem 0.3rem 0.4rem;
	display: flex;
	width: 25%;
	flex-direction: column;
}
.sec1_left_up{
	display: flex;
	flex-direction: row;
}
.score{
	height: 0.6rem;
	line-height: 0.6rem;
	color:#525252;
	font-size: 0.6rem;
}
.point{
	color:red;
	margin-top: 0.2rem;
	font-size:0.3rem;
	height: 0.3rem;
	line-height: 0.3rem;
}
.p1{
	color: #5c5c5c;
	font-size: 0.3rem;
	margin: 0.3rem 0rem;
	height: 0.3rem;
	line-height: 0.3rem;
}
.all{
	height: 0.25rem;
	line-height: 0.25rem;
	color: #898989;
	font-size: 0.25rem;
}
.sec1_right{
	width: 70%;
	padding-top: 0.4rem;
	display: flex;
	flex-direction: column;
}
.sec1_right_up{
	display: flex;
	flex-direction: row;
}

.p2{
	font-size: 0.3rem;
	height: 0.3rem;
	line-height: 0.3rem;
}
.grade{
	font-size: 0.3rem;
	height: 0.3rem;
	line-height: 0.3rem;
	color: orange;
	margin-left: 0.1rem;
}
.a{
	font-size: 0.3rem;
	height: 0.3rem;
	line-height: 0.3rem;
	color: #B3B3B3;
	margin-left: 0.1rem;
}
.alltext{
	color: #525252;
	margin-top: 0.5rem;
	font-size: 0.3rem;
	height: 0.3rem;
	line-height: 0.3rem;
}
.sec2{
	margin-top:0.1rem ;
	background-color: #FFFFFF;

}
.ul1{
	display: flex;
	justify-content: space-around;
	font-size: 0.3rem;
	line-height: 0.3rem;
	padding-top: 0.2rem;
}
.ul1 li{
	color: #525252;
}
.ul2{
	display: flex;
	justify-content: space-around;
	font-size: 0.3rem;
	line-height: 0.3rem;
	padding: 0.2rem 0;
}
.ul2_li{
	display: flex;
	flex-direction: row;
	margin-top: 0.3rem;
}
.ul2_p{
	color: #323943;
	font-size: 0.6rem;
	line-height: 0.6rem;
}
.ul2_point{
	color:#00C7A6;
	margin-top: 0.2rem;
	font-size:0.3rem;
	height: 0.3rem;
	line-height: 0.3rem;
}
.ul2_time{
	color:#323943;
	margin-top: 0.2rem;
	font-size:0.3rem;
	height: 0.3rem;
	line-height: 0.3rem;
}
.sec3{
	margin-top:0.1rem ;
	background-color: #FFFFFF;
}
.sec3_nav {
	display: flex;
	justify-content: flex-start;
	flex-flow: wrap;
	padding: 0.2rem 0;
}
.sec3_nav li {
	margin: 0.1rem 0.2rem;
	width: auto;
	line-height: 0.35rem;
	text-align: center;
	border: 0.03rem #b3b3b3 solid;
	border-radius: 0.3rem;
}
.sec3_nav li a {
	color: #898989;
	font-size: 0.25rem;
}
.sec3_nav li a:hover {
	border-color: #EFC782;
	color: #efc782;
}
.sec3_nav li:hover {
	border-color: #EFC782;
}
.sec4,.sec5{
	margin:0.1rem ;
	padding: 0.2rem 0;
	background-color: #FFFFFF;
}
.sec4_header,.sec5_header{
	padding: 0.2rem 0.2rem;
	display: flex;
	flex-direction: row;
}
.sec4_p1,.sec5_p1{
	border-left: 0.1rem #00C7A6 solid;
	font-size: 0.4rem;
	height: 0.4rem;
	line-height: 0.4rem;
	color: #323943
}
.sec4_p2,.sec5_p2{
	color: #898989;
	font-size: 0.3rem;
	line-height: 0.3rem;
	margin-left: 0.2rem;
	margin-top: 0.05rem;
}

.sec4_text{
	padding: 0.2rem 0.2rem;
	font-size: 0.3rem;
	line-height: 0.3rem;
	color: #898989
}
.sec4_footer{
	font-size: 0.3rem;
	line-height: 0.3rem;
	padding: 0.2rem 0.2rem;
}
.sec4_p,.sec4_a{
	line-height: 0.4rem;
	color: #898989;
}
.Jdt{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
.sec4_jdt{
 	width: 4rem;
 	height: 0.3rem; 
 	background-color: #CCCCCC;
 	border-radius: 0.3rem;
 }
.jindutiao{
	width: 0;
	height: 0.3rem
	background-color: #00C7A6;
	border-radius: 0.3rem;
	}/*
.jindutiao{-webkit-animation-name: jindutiao;
            -webkit-animation-duration: 5s;
            -webkit-animation-fill-mode: forwards;
            -webkit-animation-timing-function:linear;}
        @keyframes  jindutiao
        {
            0% {width:0%; }
            50% {width: 75%;}
            100%{width: 100%;}
        }*/
.card{
	padding: 0.2rem 0.2rem;
	display: flex;
	flex-direction: row;
}
.card_left{
	border: 0.05rem #00C7A6 solid;
	width: 1.5rem;
	height: 1.5rem;
}
.card_right{
	margin-left: 0.2rem;
	display: flex;
	flex-direction: column;
}
.no{
	width: 0.8rem;
	border-radius: 0.06rem;
	font-size: 0.3rem;
	line-height: 0.35rem;
	color: #EEEEEE;
	background-color: #fc8483;
}
.card_name{
	margin-top: 0.15rem;
	font-size: 0.35rem;
	line-height: 0.35rem;
	color: #525252;
}
.card_foot{
	display: flex;
	flex-direction: row;
	margin-top: 0.2rem;
}
.good{
	width: 0.3rem;
	height: 0.3rem;
	border: 0.03rem #898989 solid;
}
.card_num,.card_text{
	margin-left: 0.1rem;
	font-size: 0.25rem;
	line-height: 0.25rem;
	color: #898989;
}
